<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IdCajero" value="UBC1" />
    <add key="NumeroCajero" value="1" />
    <add key="CodigoEstacionamiento" value="8"/>
    <add key="XmlMensajes" value="Mensajes.xml" />
    <add key="LenguajeMensaje" value="ES" />
    <add key="TestMode" value="true" />
    <add key="LogFilePath" value="C:\SmartParkingLogs\" />
    <add key="EnabledTracking" value="true" />
    <add key="PuertoBill" value="COM2" />
    <add key="PuertoCRC" value="COM1" />
    <add key="PuertoPLC" value="COM2" />
    <add key="PuertoDTF" value="COM10" />
    <add key="Terminal" value="000CRE01" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_ModuloService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="basicHttpBinding_LiquidacionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.2:97/Ds_ModuloComercialService.svc"
          binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ModuloService"
          contract="Ds_ModuloComercialService.IModuloService" name="basicHttpBinding_ModuloService" />
      <endpoint address="http://192.168.1.2:90/MC_LiquidacionService.svc"
          binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_LiquidacionService"
          contract="MC_LiquidacionService.ILiquidacionService" name="basicHttpBinding_LiquidacionService" />
    </client>
  </system.serviceModel>
</configuration>